@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

/* background colours */
.normal-grey {
    background-color: #333333;
}

.dark-grey {
    background-color: #212121;
}

.black-bg {
    background-color: #000000;
}

.blue-bg {
    background-color: #2196F3;
}
/* text colours */

.white-text {
    color: #ffffff;
}

.black-text {
    color: #000000;
}

.blue-text {
    color: #2196F3;
}

/* nav bar */
nav ul a {
    font-size: 2em;
}

.logo {
    height: 56px;
}

.sidenav {
    background-color: #212121;
}

.sidenav li>a {
    color: #2196F3;
    display: block;
    font-size: 2.5em;
    font-weight: 300;
    height: 70px;
    line-height: 48px;
    padding: 0 32px;
}

/* general */
.center {
    margin: 0 auto;
}

main {
    width: 100%;
}

.full-width {
    width: 100%;
}

body {
    font-family: 'Teko', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #000000;
}

.bodytext {
    font-size: 2.5em;
}

main {
    flex: 1 0 auto;
  }

h1 {
    padding: 25px;
}

h3 {
    font-size: 3.5em;
    color: #ffffff;
}

p {
    padding-top: 10px;
}

.no-margins {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.container {
    max-width: 100%;
}

.form-text {
    font-size: 2.5em !important;
    color: rgb(245, 21, 21) !important;
}

.form-input {
    position: relative;
    top: 20px;
}

.star-div {
    position: relative;
    left: 20px;
}

.rating-label-div {
    height: 30px;
    margin-bottom: 0px;
    position: relative;
    top: -15px;
}

.star-div {
    position: relative;
    top: 30px;
}

.review-text {
    font-size: 2em;
    margin: 5px;
}

.review-col {
    background-color: #333333;
    border-radius: 5px;
}

.fa-star {
    color: gold;
}

.image-button:hover {
background-color: #000000;
opacity: 0.5;
}

/* images */

.landing-div {
    height: 100%;
}

.landing-image {
    max-width: 100%;
    margin-bottom: -10px;
}

.review-image {
    width: 100%;
    height: 250px;
}

/* buttons */

.signup-btn {
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: 800;
}

.add-review {
    padding: 25px;
}

.btn {
    margin: 10px !important;
}

/* footer */

.footer-copyright{
    min-height: 56px;
    font-size: 1.5em;
    text-align: center;
}

.social-list {
    text-align: center;
    margin-top: 30px;
}

.social-list ul{
  list-style: none;
}

.social-list li{
  display: inline;
}

.social-icon {
    color: #ffffff;
    font-size: 2.5em;
    margin-left: 5px;
    margin-right: 5px;
}

/* review carousel */

.carousel {
    height: 400px !important;
}


/* media queries */

@media screen and (max-width: 1300px) {
  .landing-p2 {
    display: none;
  }
}