{% extends "base.html" %}
{% block content %}
<!-- welcome header and information -->
<body>
   <div class="container full-width">
      <div class="row no-margins no-padding">
         <div class="col s12 l6 center">
            <h1 class="blue-text">Welcome to VG Reviews</h1>
            <p class="bodytext blue-text">A place to store and view reviews for all your favourite games! Sign up today to start reading and writing reviews!</p>
            <p class="bodytext blue-text landing-p2">No reviews from potentially biased professional critics, just the honest opinions of real gamers</p>
         </div>
         <div class="col s12 l6 no-padding landing-div">
            <img src="{{ url_for('static', filename='images/landing.png') }}" alt="image of game controllers under purple light" class="landing-image">
         </div>
      </div>
   </div>
   <!-- call to action -->
   <div class="row no-margins">
      <div class="col s12 center dark-grey white-text">
         <h2>Click below to sign up and join the community!</h2>
         <a href="{{ url_for('register') }}" class="btn-large blue-bg black-text signup-btn"><i class="fas fa-gamepad"></i>SIGN UP</a>   
      </div>
   </div>
</body>
{% endblock %}